.color-generator-container {
  background-image: linear-gradient(to right,#bd0202c5,#5bd761,#c9c469);
}

.color-generator {
  padding: 5px 30px;
  color: #fafafa;
  background-image: linear-gradient(to right,#1273ab,#a20c4b);
  font-weight: 600;
  font-size: 18px;
  border-radius: 8px;
  border: 0;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 10px;

}
.color-picker-main-container {
  display: flex;
  height: 300px;
}
.saved-color-main-container {
  display: flex;
  flex-wrap: wrap;
}
.show-saved-colors-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content:center;
}
.saved-colors-title {
  font-weight: 800;
  text-decoration: underline;
  color: #a20c4b;
}
.no-saved-colors {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}